<!--&lt;!&ndash;<h1 (click)="title = title + '.'"></h1> &ndash;&gt;   &lt;!&ndash; - lepiej w metodzie&ndash;&gt;-->
<!--<h1 (click)="handleClick($event)">click me</h1>-->

<!--<st-home [owner]="title" (timePassed)="handleTimePassed($event)"></st-home>-->

<!--<st-home owner="title"></st-home>-->
<!--<st-home [owner]="title"></st-home>-->
<!--<st-home owner="my title: {{title}}"></st-home> &lt;!&ndash;łączenie kawałków hardocodowanych i dynamicznych&ndash;&gt;-->
<!--<st-home [owner]="'title'"></st-home>-->

<!--<router-outlet></router-outlet>-->

<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <!--Dla danej podstrony np. /users/user/344 świeci się /users-->
        <a class="navbar-item is-tab" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="navbar-item is-tab" routerLink="/tv" routerLinkActive="is-active">TV Shows</a>
        <a class="navbar-item is-tab" routerLink="/contact" routerLinkActive="is-active">Contact</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
